{% extends "base.html" %}

{% block title %}CSC151{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="display-1">Machine Problem 2</h1>
</div>
<div class="container-fluid">
    <p class="lead">U.I. for specific functions (CRUDL): </p>
    <ul>
        <li class="text-success"><strong>CR</strong>eate Student</li>
        <li class="text-light"><strong>U</strong>pdate Student</li>
        <li class="text-danger"><strong>D</strong>elete Student</li>
        <li class="text-info"><strong>L</strong>ist Students</li>
    </ul>
</div>
{% endblock %}