{% extends "base.html" %}

{% block title %}CSC151{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="display-1">Machine Problem 1</h1>
</div>
<div class="container-fluid">
    <p class="lead">U.I. for specific functions: </p>
    <ul>
        <li class="text-success">Add Student</li>
        <li class="text-danger">Delete Student</li>
        <li class="text-info">Display Students</li>
        <li class="text-light">Update Student</li>
    </ul>
</div>
{% endblock %}